body{
    color: #bfc1c8;
    font-family: "Roboto", "Open Sans", sans-serif;
    font-size: 14px;
    font-weight: 300;
    line-height: 1.5;
    background: #1e202b;
}
h1, h2, h3, h4, h5, h6 {
    font-weight: 700;
    margin: 0 0 20px;
    line-height: normal;
}
a{
    text-decoration: none;
}
/* start navbar */
nav .container{
    padding: 50px 0;
}
.logo-type{
    vertical-align: middle;
}
.logo{
    margin-right: 10px;
}
.site-title{
    margin-bottom: 5px;
    font-size: 1.1428571429em;
    color: white;
}
.site-description{
    font-size: 0.7142857143em;
    display: block;
    color: #bfc1c8;
}
nav li{
    margin-left: 3rem;
}
nav ul li a{
    border: 2px solid transparent;
    border-radius: 30px;
    color: white !important;
    transition: 0.3s ease;
}
nav ul li a:hover{
    border: 2px solid #009ad8;
    color: #009ad8 !important;
}
.navbar-nav .active{
    border: 2px solid #009ad8;
    color: #009ad8 !important;
}
nav button{
    border: 2px solid transparent !important;
    border-radius: 40px !important;
    color: white;
    transition: 0.3s ease;
}
nav button:focus{
    box-shadow: none !important;
}
nav button:hover{
    border-color: #009ad8 !important;
    color: #009ad8 !important;
}
@media screen and (max-width: 992px) {
    nav ul{
        background: #262936;
        margin-top: 40px;
        text-align: center;
    }
    nav li{
        border-bottom: 1px solid rgba(255, 255, 255, 0.1);
        padding: 20px;
        margin-left: 0;
    }
    nav li:last-of-type{
        border-bottom: none;
    }
    nav ul li a{
        border:none;
        border-radius: none;
        color: white !important;
        transition: 0.3s ease;
    }
    nav ul li a:hover{
        border: none;
        color: white !important;
    }
    .navbar-nav .active{
        border: none;
        color: #009ad8 !important;
    }
}
/* end navbar */
/* start content */
.breadcrumb {
    background: #262936;
    border-radius: 40px;
    padding: 20px 30px;
    font-size: 0.9285714286em;
}
.breadcrumb a{
    color: #bfc1c8;
}
.breadcrumb a:after {
    content: " ";
    display: inline-block;
    vertical-align: middle;
    width: 12px;
    height: 7px;
    background: url(../images/arrow-gray.png) no-repeat;
    margin: 0 10px;
}
.fullwidth-block{
    padding: 70px 0;
}
.contact-details {
    background: #262936;
    border-radius: 10px;
    overflow: hidden;
}
.map{
    height: 220px;
}
.contact-info{
    padding: 20px;
}
.contact-details address {
    padding-left: 30px;
    position: relative;
}
.contact-details address img {
    position: absolute;
    left: 0;
    top: 0;
}
.contact-info a{
    margin-right: 20px;
    color: #bfc1c8;
}
.contact-info img {
    margin-right: 10px;
    vertical-align: middle;
}
.section-title{
    font-size: 2.5714285714em;
    font-weight: 300;
    color: white;
}
.contact-form .inputs{
    width: 100%;
    padding: 15px;
    margin-bottom: 10px;
    color: white;
    border: 2px solid #393c48;
    background: transparent;
    outline: none;
    border-radius: 30px;
    font-size: 100%;
}
.contact-form .inputs:hover{
    border-color: #009ad8;
}
.contact-form textarea {
    min-height: 150px;
    width: 100%;
    padding: 15px;
    margin-bottom: 10px;
    color: white;
    border: 2px solid #393c48;
    background: transparent;
    outline: none;
    border-radius: 30px;
    font-size: 100%;
}
.contact-form textarea:hover{
    border-color: #009ad8;
}
.contact-form .text-right{
    text-align: right;
}
.contact-form .text-right input{
    border: none;
    background: #009ad8;
    padding: 10px 20px;
    border-radius: 30px;
    color: white;
    font-size: 100%;
}
/* end content */
/* start footer */
footer{
    background: #262936;
    padding: 50px 0;
}
footer form{
    position: relative;
    margin-bottom: 30px;
}
footer form .inb2{
    padding: 20px 100px 20px 20px;
    background: #1e202b;
    width: 100%;
    color: white;
    outline: none;
    border: none;
    border-radius: 30px;
    font-size: 100%;
}
footer form .sub2{
    position: absolute;
    right: 5px;
    top: 5px;
    bottom: 5px;
    border: none;
    outline: none;
    background: #009ad8;
    padding: 10px 20px;
    border-radius: 30px;
    color: white;
    font-size: 100%;
}
footer .social-links a{
    width: 40px;
    height: 40px;
    display: inline-block;
    border-radius: 50%;
    background: #1e202b;
    color: #009ad8;
    text-align: center;
    line-height: 2;
    transition: 0.3s ease;
    font-size: 1.4285714286em;
}
footer .social-links a:hover{
    background: #009ad8;
    color: white;
}
/* end footer */